// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=29B6F6&secondary.color=9CCC65&primary.text.color=212121&secondary.text.color=212121

$primary-color: #29b6f6;
$light-primary-color: #73e8ff;
$dark-primary-color: #0086c3;

$secondary-color: #9ccc65;
$light-secondary-color: #cfff95;
$dark-secondary-color: #6b9b37;

$text-color: #212121;

$bg-color: #E1E2E1;
$light-bg-color: #F5F5F6;
